In [ ]:
# Librer√≠as
import pandas as pd

In [31]:
# Primer vistazo a los DataSets.
df_numberSpill = pd.read_csv('CSVs/1- number-oil-spills.csv',sep=',')
df_numberSpill

,Entity,Code,Year,Large oil spills (>700 tonnes),Medium oil spills (7-700 tonnes)
0,World,OWID_WRL,1970,29,7
1,World,OWID_WRL,1971,14,18
2,World,OWID_WRL,1972,27,48
3,World,OWID_WRL,1973,31,28
4,World,OWID_WRL,1974,27,90
5,World,OWID_WRL,1975,20,96
6,World,OWID_WRL,1976,26,67
7,World,OWID_WRL,1977,16,70
8,World,OWID_WRL,1978,23,59
9,World,OWID_WRL,1979,32,60
10,World,OWID_WRL,1980,13,52
11,World,OWID_WRL,1981,7,54
12,World,OWID_WRL,1982,4,46
13,World,OWID_WRL,1983,13,52
14,World,OWID_WRL,1984,8,26
15,World,OWID_WRL,1985,8,33
16,World,OWID_WRL,1986,7,27
17,World,OWID_WRL,1987,11,27
18,World,OWID_WRL,1988,10,11
19,World,OWID_WRL,1989,13,32
20,World,OWID_WRL,1990,14,50
21,World,OWID_WRL,1991,7,30
22,World,OWID_WRL,1992,10,31
23,World,OWID_WRL,1993,11,31
24,World,OWID_WRL,1994,9,26
25,World,OWID_WRL,1995,3,20
26,World,OWID_WRL,1996,3,20
27,World,OWID_WRL,1997,10,28
28,World,OWID_WRL,1998,5,25
29,World,OWID_WRL,1999,5,20
30,World,OWID_WRL,2000,4,21
31,World,OWID_WRL,2001,3,18
32,World,OWID_WRL,2002,3,11
33,World,OWID_WRL,2003,4,19
34,World,OWID_WRL,2004,5,20
35,World,OWID_WRL,2005,3,22
36,World,OWID_WRL,2006,4,12
37,World,OWID_WRL,2007,3,12
38,World,OWID_WRL,2008,1,7
39,World,OWID_WRL,2009,2,7
40,World,OWID_WRL,2010,4,5
41,World,OWID_WRL,2011,1,4
42,World,OWID_WRL,2012,0,7
43,World,OWID_WRL,2013,3,5
44,World,OWID_WRL,2014,1,4
45,World,OWID_WRL,2015,2,6
46,World,OWID_WRL,2016,1,4
47,World,OWID_WRL,2017,2,4
48,World,OWID_WRL,2018,3,4
49,World,OWID_WRL,2019,1,2
50,World,OWID_WRL,2020,0,4
51,World,OWID_WRL,2021,1,5
52,World,OWID_WRL,2022,3,4

In [32]:
df_quantitySpill = pd.read_csv('CSVs/2- quantity-oil-spills.csv',sep=',')
df_quantitySpill

   Entity      Code  Year  Quantity of oil spilled
0   World  OWID_WRL  1970                   383000
1   World  OWID_WRL  1971                   144000
2   World  OWID_WRL  1972                   313000
3   World  OWID_WRL  1973                   159000
4   World  OWID_WRL  1974                   174000
5   World  OWID_WRL  1975                   352000
6   World  OWID_WRL  1976                   365000
7   World  OWID_WRL  1977                   276000
8   World  OWID_WRL  1978                   393000
9   World  OWID_WRL  1979                   636000
10  World  OWID_WRL  1980                   206000
11  World  OWID_WRL  1981                    48000
12  World  OWID_WRL  1982                    12000
13  World  OWID_WRL  1983                   384000
14  World  OWID_WRL  1984                    29000
15  World  OWID_WRL  1985                    85000
16  World  OWID_WRL  1986                    19000
17  World  OWID_WRL  1987                    38000
18  World  OWID_WRL  1988                   190000
19  World  OWID_WRL  1989                   164000
20  World  OWID_WRL  1990                    61000
21  World  OWID_WRL  1991                   431000
22  World  OWID_WRL  1992                   167000
23  World  OWID_WRL  1993                   140000
24  World  OWID_WRL  1994                   130000
25  World  OWID_WRL  1995                    12000
26  World  OWID_WRL  1996                    80000
27  World  OWID_WRL  1997                    72000
28  World  OWID_WRL  1998                    13000
29  World  OWID_WRL  1999                    28000
30  World  OWID_WRL  2000                    14000
31  World  OWID_WRL  2001                     9000
32  World  OWID_WRL  2002                    66000
33  World  OWID_WRL  2003                    43000
34  World  OWID_WRL  2004                    17000
35  World  OWID_WRL  2005                    15000
36  World  OWID_WRL  2006                    12000
37  World  OWID_WRL  2007                    15000
38  World  OWID_WRL  2008                     2000
39  World  OWID_WRL  2009                     3000
40  World  OWID_WRL  2010                    12000
41  World  OWID_WRL  2011                     2000
42  World  OWID_WRL  2012                     1000
43  World  OWID_WRL  2013                     7000
44  World  OWID_WRL  2014                     5000
45  World  OWID_WRL  2015                     7000
46  World  OWID_WRL  2016                     6000
47  World  OWID_WRL  2017                     7000
48  World  OWID_WRL  2018                   116000
49  World  OWID_WRL  2019                     1000
50  World  OWID_WRL  2020                     1000
51  World  OWID_WRL  2021                    10000
52  World  OWID_WRL  2022                    15000

In [33]:
df_largeSpill = pd.read_csv('CSVs/3- large-oil-spills-decadal.csv',sep=',')
df_largeSpill

,Entity,Code,Year,Decadal large oil spills (>700 tonnes),Decadal medium oil spills (7-700 tonnes)
0,World,OWID_WRL,1970,24,54
1,World,OWID_WRL,1980,9,36
2,World,OWID_WRL,1990,8,28
3,World,OWID_WRL,2000,3,15
4,World,OWID_WRL,2010,2,4
5,World,OWID_WRL,2020,1,4

In [34]:
df_quantitySpillDec = pd.read_csv('CSVs/4- quantity-oil-spills-decadal-average.csv',sep=',')
df_quantitySpillDec

  Entity      Code  Year  Decadal quantity of oil spilled
0  World  OWID_WRL  1970                           319500
1  World  OWID_WRL  1980                           117500
2  World  OWID_WRL  1990                           113400
3  World  OWID_WRL  2000                            19600
4  World  OWID_WRL  2010                            16400
5  World  OWID_WRL  2020                             8667

In [35]:
df_numberSpillOperation = pd.read_csv('CSVs/5- number-of-tanker-spills-by-operation-at-time-of-incident-1970-2022.csv',sep=',')
df_numberSpillOperation

,Entity,Code,Year,At anchor (inland) operations,Bunkering operations,Other operations,Underway (open water) operations,At anchor (open water) operations,Loading/discharging operations,Underway (inland) operations,Unknown operations
0,Large (>700t),NaN,2022,20.0,NaN,83,233.0,10.0,42,82.0,NaN
1,Medium (7-700t),NaN,2022,NaN,33.0,195,NaN,NaN,399,NaN,764.0

In [36]:
df_numberSpillCause = pd.read_csv('CSVs/6- number-of-tanker-spills-by-primary-cause-of-spill-1970-2022.csv',sep=',')
df_numberSpillCause

,Entity,Code,Year,Allision/collision causes,Fire/explosion causes,Hull failure causes,Unknown causes,Equipment failure causes,Grounding causes,Other causes
0,Large (>700t),NaN,2022,140,54,60,13,19,150,34
1,Medium (7-700t),NaN,2022,367,51,101,207,214,271,180

In [37]:
# Realizo un concat de los 5 DataSet para unificar en uno solo.
df_concat = df_numberSpill
for df in [df_quantitySpill, df_largeSpill, df_quantitySpillDec,df_numberSpillOperation, df_numberSpillCause]:
    df_all = pd.concat([df_concat,df],ignore_index=True)
df_all

,Entity,Code,Year,Large oil spills (>700 tonnes),Medium oil spills (7-700 tonnes),Allision/collision causes,Fire/explosion causes,Hull failure causes,Unknown causes,Equipment failure causes,Grounding causes,Other causes
0,World,OWID_WRL,1970,29.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,OWID_WRL,1971,14.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,World,OWID_WRL,1972,27.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,World,OWID_WRL,1973,31.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,World,OWID_WRL,1974,27.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,World,OWID_WRL,1975,20.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,World,OWID_WRL,1976,26.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,World,OWID_WRL,1977,16.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,World,OWID_WRL,1978,23.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,World,OWID_WRL,1979,32.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,World,OWID_WRL,1980,13.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,World,OWID_WRL,1981,7.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,World,OWID_WRL,1982,4.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,World,OWID_WRL,1983,13.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,World,OWID_WRL,1984,8.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,World,OWID_WRL,1985,8.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,World,OWID_WRL,1986,7.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,World,OWID_WRL,1987,11.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,World,OWID_WRL,1988,10.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,World,OWID_WRL,1989,13.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,World,OWID_WRL,1990,14.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,World,OWID_WRL,1991,7.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,World,OWID_WRL,1992,10.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,World,OWID_WRL,1993,11.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,World,OWID_WRL,1994,9.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,World,OWID_WRL,1995,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,World,OWID_WRL,1996,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,World,OWID_WRL,1997,10.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,World,OWID_WRL,1998,5.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,World,OWID_WRL,1999,5.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,World,OWID_WRL,2000,4.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,World,OWID_WRL,2001,3.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,World,OWID_WRL,2002,3.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,World,OWID_WRL,2003,4.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,World,OWID_WRL,2004,5.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,World,OWID_WRL,2005,3.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,World,OWID_WRL,2006,4.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,World,OWID_WRL,2007,3.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,World,OWID_WRL,2008,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,World,OWID_WRL,2009,2.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,World,OWID_WRL,2010,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,World,OWID_WRL,2011,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,World,OWID_WRL,2012,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,World,OWID_WRL,2013,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,World,OWID_WRL,2014,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,World,OWID_WRL,2015,2.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,World,OWID_WRL,2016,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,World,OWID_WRL,2017,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,World,OWID_WRL,2018,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,World,OWID_WRL,2019,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,World,OWID_WRL,2020,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,World,OWID_WRL,2021,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,World,OWID_WRL,2022,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Large (>700t),NaN,2022,NaN,NaN,140.0,54.0,60.0,13.0,19.0,150.0,34.0
54,Medium (7-700t),NaN,2022,NaN,NaN,367.0,51.0,101.0,207.0,214.0,271.0,180.0

In [58]:
# Obtengo info del DataFrame obtenido.
from functions.info import infoDataFrame
from functions.nulls import cantidadDeNaN
infoDataFrame(df_all)
#cantidadDeNaN(df_all)
print("Cantidad de Nulos: ", df_all.isna().sum())

-- INFO --
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Entity                            55 non-null     object
 1   Code                              53 non-null     object
 2   Year                              55 non-null     int64
 3   Large oil spills (>700 tonnes)    53 non-null     float64
 4   Medium oil spills (7-700 tonnes)  53 non-null     float64
 5   Allision/collision causes         2 non-null      float64
 6   Fire/explosion causes             2 non-null      float64
 7   Hull failure causes               2 non-null      float64
 8   Unknown causes                    2 non-null      float64
 9   Equipment failure causes          2 non-null      float64
 10  Grounding causes                  2 non-null      float64
 11  Other causes                      2 non-null      float64
dtypes: float64(9), int64(1), object(2)
memory usage: 5.3+ KB
None
-- HEAD --
  Entity      Code  Year  Large oil spills (>700 tonnes)  \
0  World  OWID_WRL  1970                            29.0
1  World  OWID_WRL  1971                            14.0
2  World  OWID_WRL  1972                            27.0
3  World  OWID_WRL  1973                            31.0
4  World  OWID_WRL  1974                            27.0

   Medium oil spills (7-700 tonnes)  Allision/collision causes  \
0                               7.0                        NaN
1                              18.0                        NaN
2                              48.0                        NaN
3                              28.0                        NaN
4                              90.0                        NaN

   Fire/explosion causes  Hull failure causes  Unknown causes  \
0                    NaN                  NaN             NaN
1                    NaN                  NaN             NaN
2                    NaN                  NaN             NaN
3                    NaN                  NaN             NaN
4                    NaN                  NaN             NaN

   Equipment failure causes  Grounding causes  Other causes
0                       NaN               NaN           NaN
1                       NaN               NaN           NaN
2                       NaN               NaN           NaN
3                       NaN               NaN           NaN
4                       NaN               NaN           NaN
-- DESCRIBRE --
              Year  Large oil spills (>700 tonnes)  \
count    55.000000                       53.000000
mean   1996.945455                        8.867925
std      15.930890                        8.801306
min    1970.000000                        0.000000
25%    1983.500000                        3.000000
50%    1997.000000                        5.000000
75%    2010.500000                       13.000000
max    2022.000000                       32.000000

       Medium oil spills (7-700 tonnes)  Allision/collision causes  \
count                         53.000000                   2.000000
mean                          26.245283                 253.500000
std                           22.764603                 160.513239
min                            2.000000                 140.000000
25%                            7.000000                 196.750000
50%                           20.000000                 253.500000
75%                           32.000000                 310.250000
max                           96.000000                 367.000000

       Fire/explosion causes  Hull failure causes  Unknown causes  \
count                2.00000             2.000000        2.000000
mean                52.50000            80.500000      110.000000
std                  2.12132            28.991378      137.178716
min                 51.00000            60.000000       13.000000
25%                 51.75000            70.250000       61.500000
50%                 52.50000            80.500000      110.000000
75%                 53.25000            90.750000      158.500000
max                 54.00000           101.000000      207.000000

       Equipment failure causes  Grounding causes  Other causes
count                  2.000000          2.000000       2.00000
mean                 116.500000        210.500000     107.00000
std                  137.885822         85.559921     103.23759
min                   19.000000        150.000000      34.00000
25%                   67.750000        180.250000      70.50000
50%                  116.500000        210.500000     107.00000
75%                  165.250000        240.750000     143.50000
max                  214.000000        271.000000     180.00000
Cantidad de Filas:  55
Cantidad de Nulos:  Entity                               0
Code                                 2
Year                                 0
Large oil spills (>700 tonnes)       2
Medium oil spills (7-700 tonnes)     2
Allision/collision causes           53
Fire/explosion causes               53
Hull failure causes                 53
Unknown causes                      53
Equipment failure causes            53
Grounding causes                    53
Other causes                        53
dtype: int64